.navigation {
  width: 60px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  flex-shrink: 0;
  background-color: #5a6670;
  transition: all 0.2s ease-in-out;

  &.active {
    width: 260px;

    .navigation {
      &__header {
        padding: 20px;
      }

      &__list {
        font-size: 14px;

        &-item {
          &--out {
            border-top: 1px solid #6b767f;
          }

          &-text-placeholder {
            padding: 6px 0 6px 45px;

            &:after {
              position: absolute;
            }

            &.has-childs {
              background-image: url($image-path + "icons/dropdown-right.svg");
              background-size: 16px 16px;
              background-position: right $def-space - 10 center;
              background-repeat: no-repeat;
              transition: background-image 0.2s ease-in-out;

              &.active {
                background-image: url($image-path + "icons/dropdown.svg");
              }
            }
          }
        }

        &--in {
          &.active {
            display: block;
            visibility: visible;
          }
        }
      }
    }

    .logo {
      background-image: url($image-path + "icons/logo.svg");
    }
  }

  &__header {
    padding: 10px;
    margin-bottom: $def-space / 2;
  }

  &__list {
    padding: 0;
    font-size: 0;
    margin-bottom: 0;

    &--in {
      display: none;
      visibility: hidden;
      overflow: hidden;
      transition: all 0.3s linear;
    }

    &-item {
      color: #fff;
      cursor: pointer;
      list-style-type: none;

      a {
        width: 100%;
        display: block;
        color: inherit;
      }

      &-text-placeholder {
        position: relative;

        &:after {
          display: block;
          width: 24px;
          height: 24px;
          content: "";
          position: static;
          left: 10px;
          top: 0;
          bottom: 0;
          margin: auto;
          @include def-background("contain");
        }

        &.packages {
          &:after {
            background-image: url($image-path + "icons/packages.svg");
          }
        }

        &.rightsManagement {
          &:after {
            background-image: url($image-path + "icons/rightsManagement.svg");
          }
        }

        &.archiveRepository {
          &:after {
            background-image: url($image-path + "icons/archiveRepository.svg");
          }
        }

        &.auxiliaryLists {
          &:after {
            background-image: url($image-path + "icons/auxiliaryLists.svg");
          }
        }

        &.returnBack {
          &:after {
            border: 1px solid red;
            // background-image: url($image-path + "icons/auxiliaryLists.svg");
          }
        }
      }

      &--out {
        padding: 10px 0;
      }

      &--in {
        padding: 6px 0 6px 45px;

        &:hover,
        &.active {
          background-color: #6b767f;
        }
      }
    }
  }
}
