.page-header {
  @include make-flex("space-between");
  height: 60px;

  &__title {
    font-family: map-get($font-names, bold);
    font-size: 14px;
    line-height: 17px;
  }

  .btn--default-orange {
    width: 110px;
  }
}
