.pagination-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination {
  justify-content: flex-end;
  pagination-template {
    display: flex;
    align-items: center;
    justify-content: center;

    div {
      font-size: 18px;
      font-family: map-get($font-names, bold);
      cursor: pointer;

      &.current {
        color: #f26724;

        div {
          padding: 0;
        }
      }
    }
  }

  &-first,
  &-previous,
  &-next,
  &-last {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $def-radius;
    background-color: $N-100-Lit-smoke;
    padding: 0;
    margin-right: $def-space - 26;



    &:nth-child(even) {
      margin-right: 0;
    }

    &.disabled {
      display: none;
    }
  }

  &-numbers {
    padding: 0;

    div,
    a {
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
      }
    }
  }
}

.per-page {
  display: flex;
  align-items: center;

  &__title {
    font-size: 12px;
    font-family: map-get($font-names, medium);
    margin-right: $def-space / 2;
  }

  .select {
    min-width: 70px;
    padding: 9px 8px;

    &__option {
      font-size: 12px;
      font-family: map-get($font-names, medium);
    }

    .icon {
      width: 16px;
      height: 16px;
    }
  }
}
