.profile {
  display: flex;
  align-items: center;
  font-size: 12px;

  &__image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f6f8fa;
    flex-shrink: 0;
    @include def-background("contain");
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: $def-space / 3;
  }
}
